.dashboard-container {
  text-align: center;
  padding: 40px;
}

.dashboard-container h1 {
  color: #444;
  margin-bottom: 20px;
}

.dashboard-container p {
  color: #222;
  font-size: 16px;
  line-height: 1.6;
  width: 70%;
  margin: 0 auto 30px auto;
  text-align: justify;
}

.dashboard-logo {
  width: 60%;
  max-width: 600px;
  height: auto;
  margin-top: 40px;
}
