.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-box {
  background: white;
  width: 80%;
  max-width: 330px;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.modal-box h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.modal-actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn-delete {
  flex: 1;
  background: #e34242;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.btn-cancel {
  flex: 1;
  background: #a7a7a7;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}
